/*** Reseteo propiedades ***/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;    
}



/*** LAYOUT ***/
/*** display - position - float ***/
header {
    display: inline-block;
    position: sticky;
    
}

header input{
    float: left;
}



header p{
    float:right;
}

nav {
    position: sticky;
    display: inline-block;
  
}

nav ul {
    display: inline-block;
    left: 50px;
}

nav ul li {
    display: inline-block;
    left: 400px;
}

#seccion1{
    position: relative;


}

#seccion2 article{
    display: inline-block;
}

#seccion4 {
    display: inline-block;
}

#seccion5{
    display: inline-block;
}

#seccion5 article{
    display: inline-block;
}

#seccion6{
    display: inline-block;
}

#seccion6 input{
    display: inline;
    position: relative;
}


/*** Height - Width - Padding - Border - Margin ***/
header{
    width: 50%;
    height: 50px;
    margin-left: 25%;
    

}



nav {
   width: 50%;
    margin-left: 25%;
    padding: 10px 20px; 
    
    /* position: fixed;
    width: 400px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box; */
   

}


nav ul li {
  padding: 5px 15px;
  
}

#seccion1 img {
    max-width: 100%;
    height: auto;
}


#seccion2 article{
    width: 25%;
    height: 25%;
    max-width: 100% ;
}

#seccion3{
    width: 50%;
    margin-left: 25%;
    padding: 10px 20px;
}

#seccion3 img{
    padding: 10px 20px;
    border: 4px solid violet;
    max-width: 100%;
    height: auto;

}

#seccion4{
    width: 70%;
    margin-left: 15%;
    border: 4px solid grey;


}

#seccion4 p{
    float:left;
    width: 40%;
}

#seccion4 img{
    max-width: 100%;
    height: auto;
    float: right;
}

#seccion5{
    margin-left: 40%;
}

#seccion6{
    margin-left: 20%;
    width: 50%;
}

#seccion6 h1{
    margin-left: 40%;
}

#seccion6 h2{
    margin-left: 40%;
}

#seccion6 input{
    margin-left: 40%;
}

/**** Propiedades generales ****/
header{
    border: 5px solid red;
}

nav{
    border: 5px solid blue;

}

nav ul{
    border: 5px solid yellow;
}

nav ul li{
    border: 5px solid green;
}

#seccion1{
    border: 3px solid black;
}

#seccion2{
    border: 3px solid orange;
}

#seccion2 article{
    border: 3px solid brown;
}


/*** HEADER ***/
header{
    text-align: center;
}


/*** NAV ***/
nav{
    text-align: center;
}
nav ul li{
    text-align: center;
}


/*** MAIN ***/


#seccion1{
    text-align: center;
}


#seccion2{
    text-align: center;

}

#seccion2 article {
    background-color: aquamarine;

}

#seccion3{
    text-align: center;
}

#seccion4{ 
    text-align: left;
    background-color: beige;

}

#seccion4 img{ 
    text-align: right;
}

#seccion5{
    text-align: center;
    background-color: aquamarine;
}

#seccion6{
    text-align: center;
}

/*** FOOTER ***/
footer {
    text-align: center;
}